/* text */

/* navbar design */

.navbar-expand-lg {
    background-color: burlywood;
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

/* jumbotron features */
.display-4 {
    color: rgb(221, 139, 39);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: overline underline;
    text-decoration-color:brown;
}

.backimage {
    background-image: url("https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}

.mini {
    color: rgb(221, 139, 39);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-decoration:underline;
    text-decoration-style: dotted;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.btn {
    display: flex;
    justify-content: center;
    border: 2px solid antiquewhite;
    color: brown;
    background-color: burlywood;  

}


.row {
    background-color: burlywood;
}

#info {
    background-color: bisque;

}

/* about me section */
.about {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:underline;
    text-align: center;
}
.content {
    background-color: bisque;
    color: rgb(221, 139, 39);
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

/* skill section */

.skills { 
    background-color: bisque;
    color: rgb(221, 139, 39);
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

/*form features*/

.form {  
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;  
}

